<p id="notice">Welcome! You have signed up successfully.</p>
<p id="notice"><%= notice %></p>

<% @books.each do |book| %>
<div>
  <p>Title</p>
  <%= book.title %>

  <p>Opinion</p>
  <%= book.body %>

</div>
<% end %>

<%= render 'list/lists', book: @new_book, user: @user %>